<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

<title>Lista de livros</title>
</head>
<body>
	<h1 layout:fragment="header">Biblioteca</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-condensed">
			<thead>
				<tr>
					<td>ID</td>
					<td>Capa</td>
					<td>Título</td>
					<td>Autor</td>
					<td colspan="2" style="text-align: right;">
						<a href="/livros/novo"><button class="btn btn-primary" style="padding: 1px;">Novo Livro</button></a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${livros.empty}">
					<td colspan="2">Sem livros</td>
				</tr>

				<tr th:each="livro : ${livros}">
					<td th:text="${livro.id}">1</td>
					<th scope="row">
						<img th:if="${livro.capa}" th:src="@{'/' + ${livro.capa}}" width="100px" />
						<img th:unless="${livro.capa}" th:src="@{'../img/unless.png'}" width="100px" />
					</th>
					<td><a href="#" th:href="@{'/livros/'+${livro.id}}" th:text="${livro.nome}"/></td>
					<td><span th:text="${livro.autor.nome}"/></td>
					
					<td th:if="${#request.isUserInRole('ADMIN')}">
			   			<a href="#" th:href="@{'/livros/alterar/'+${livro.id}}"> Alterar </a>
					</td>
								
					<td th:if="${#request.isUserInRole('ADMIN')}" >
			   			<a href="#" th:href="@{'/livros/excluir/'+${livro.id}}"> Excluir </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>