<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

<title>Lista de Emprestimos</title>
</head>
<body>
	<h1 layout:fragment="header">Biblioteca</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-condensed">
			<thead>
				<tr>
					<td>ID</td>
					<td>Livro</td>	
					<td>Capa</td>
					<td>Usuario</td>	
					<td>Data da Devolução</td>
					<td>Data do Emprestimo</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${meusEmprestimos.empty}">
					<td colspan="2">Você não fez nenhum emprestimo</td>
				</tr>

				<tr th:each="emprestimo : ${meusEmprestimos}">
					<td th:text="${emprestimo.id}">1</td>

					<td><span th:text="${emprestimo.livro.nome}" /></td>
					
					<th scope="row">
						<img th:if="${emprestimo.livro.capa}" th:src="@{${emprestimo.livro.capa}}" width="100px" />
						<img th:unless="${emprestimo.livro.capa}" th:src="@{'../img/unless.png'}" width="100px" />
					</th>
					
					<td><span th:text="${emprestimo.usuario.username}" /></td>
					<td><span th:text="${emprestimo.dataDevolucao}" /></td>
					<td><span th:text="${emprestimo.dataEmprestimo}" /></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>